html, body, #sky, #stars, #dipper, #sun {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
}

@-webkit-keyframes sunset {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 100%;
  }
}

@keyframes sunset {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 100%;
  }
}

#sky {
  background: linear-gradient(#088ABA, #031634);
  background-size: 100% 500%;
  -webkit-animation: sunset 7s normal forwards cubic-bezier(.98,.0,.44,1);
  animation: sunset 7s normal forwards cubic-bezier(.98,.0,.44,1);
}

#title {
  font-family: 'Philosopher', sans-serif;
  font-size: 7.5vh;
  font-weight: bold;
  width: 100%;
  text-align: center;
  position: absolute;
  color: #FDFDFD;
  margin-top: 5vh;
  line-height: 10vh;
}

#tooltip {
  font-family: 'Muli', sans-serif;
  position:absolute;
  margin:0;
  text-align: center;
  color: #FDFDFD;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
}

#pages-container {
  background-color: rgba(50, 50, 50, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
}

#pages-container .page {
  width: 75%;
  max-width: 600px;
  background-color: #FDFDFD;
  color: #555;
  font-family: 'Muli', sans-serif;
  border-radius: 10px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  margin-top: 30px;
  margin-bottom: 30px;

  padding: 30px;
}

#pages-container .page a {
  color: #031634;
}

#pages-container .page h1,
#pages-container .page h2 {
  font-family: 'Philosopher', sans-serif;
}

#pages-container .page .project {
  border-top: 1px solid #ccc;
  padding: 10px;
}

#pages-container .page .project.last-project {
  border-bottom: 1px solid #ccc;
}

svg a {
  outline: none;
}
